@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
:root{
	--text-color:#333;
	--bg-color:#fff;
	--fix-color:#4C2A85;
	--border-color:#4C2A86;
}
html[data-color-mode="dark"]{
	--text-color:#fff;
	--bg-color:#333;
	--border-color:#4a4aea;
}
*{
    margin: 0;
    padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	overflow-x: hidden;
	background-color: var(--bg-color);
}
/* navbar */
.bjir {
	background-color: var(--fix-color);
}
.bi-moon-fill {
	color: #fff;
}
nav .brand {
	letter-spacing: 2px;
}
h2 i {
	cursor: pointer;
}
/* konten */
.intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px;
	grid-template-areas: "nama logo";
	margin-top: 3rem;
}
img.logo {
	grid-area: logo;
	width: 300px;
	height: 300px;
	border-radius: 50% 0 50% 0;
	border: 15px solid var(--border-color);
	margin-top: 30px;
}
.nama {
	display: grid;
	grid-area: nama;
	align-content: center;
	margin-top: 50px;
	font-family: 'Kanit', sans-serif;
}
.nama h1 {
	font-size: 3em;
	color: #4a4aea;
}
.alfin {
	letter-spacing: 3px;
}
.alfin span {
	display: inline-block;
	transition: 1.2s;
	cursor: pointer;
}
.alfin span:hover {
	transform: scale(1.6) translateY(-20px);
}
/* about */
.about {
	display: grid;
	margin-top: 150px;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "judul-about judul-about"
	"p1 jdl-about" 
	"p2 jdl-about";
}
.judul-about {
	grid-area: judul-about;
	margin-top: 100px;
}
.about p:nth-child(2) {
	grid-area: p1;
	margin-top: 50px;
}
.about p:nth-child(3) {
	grid-area: p2;
}
.logo-about {
	grid-area: jdl-about;
	width: 400px;
	height: 400px;
}
/* contact */
#contact {
	margin-top: 150px;
}  
.kontak {
	margin-bottom: 100px;
	color: var(--text-color);
}
footer.ok{
	color: #fff;
	text-align: center;
	background-color: var(--fix-color);
	padding: 50px;
	margin-top: 150px;
}
.judul{
	color: var(--text-color);
	letter-spacing: 2px;
}
.kontak {
	margin-bottom: 100px;
	color: var(--text-color);
}

@media screen and (max-width:900px){
	.intro {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "logo" "nama";
		justify-content: center;
		text-align: center;
		margin-top: 100px;
	}
	img.logo {
		margin: 0 auto;
	}
	.about {
	display: grid;
	grid-template-columns: 1fr; 
	grid-template-areas: "judul-about"
	"p1" 
	"p2";
	justify-content: center;
	align-items: center;
	text-align: center;
	}
	.logo-about {
		display: none;
	}
}